body {
    font: 300 112.5%/1.5em "Helvetica", "Arial", sans-serif;
    margin: 3em 3em 6em;
    padding: 0;
}

h1 {
    font-size: 3em;
    line-height: 1em;
    text-align: center;
    margin: 0.5em 0;
}

p {
    margin: 1.5em 0;
}

#icon {
    width: 200px;
    height: 200px;
}

.info {
    display: none;
}
